@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(211, 210, 209);
}
nav{
  /* font-family: 'Montserrat', sans-serif; */
  font-family: Kode Mono;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 12px;
  backdrop-filter: blur(5px);

}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 2rem;
  
}

nav a{
  margin: 0 2rem;
  text-decoration: none;
  color: rgb(167, 3, 3);
}

nav a:hover{
  color: brown;
}

header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 2rem;
}

@media(max-width:1024px) {
  header .nav-btn{
    visibility: visible;
    opacity: 1;
  }
  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 1s;
    background-color: antiquewhite;
    transform: translateY(-100vh);
  }
  header .responsive_nav{
    transform: none;
  }
  nav .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  nav a{
    font-size: 2rem;
  }
}

.headerBar ul li{
  /* display: flex; */
  color: rgb(12, 12, 12);
  display: inline-block;
  margin-right: 10px;
  font-weight: bolder;
  
}

.navbar-list{
  cursor: pointer;
  text-transform: uppercase;
}


/* nav{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 12px;
  backdrop-filter: blur(5px);
} */

/* nav:hover{
  background-color: rgb(81, 79, 79);
} */

.logo{
  height: 40px;
  border-radius: 50%;
  /* padding: 10px; */
  
}

.barber{
  /* height: 400px; */
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  backdrop-filter: blur(5px);

}