@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(247, 246, 245);
}
nav{
  /* font-family: 'Montserrat', sans-serif; */
  font-family: Kode Mono;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 12px;
  backdrop-filter: blur(5px);
  font-family: 'Montserrat', sans-serif;


}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 2rem;
  
}

nav a{
  margin: 0 2rem;
  text-decoration: none;
  color: rgb(12, 11, 11);
  font-weight: bold;
}

nav a:hover{
  color: brown;
}

header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 2rem;
}

@media(max-width:1024px) {
  header .nav-btn{
    visibility: visible;
    opacity: 1;
  }
  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 1s;
    /* background-color: antiquewhite; */
    transform: translateY(-100vh);
  }
  header .responsive_nav{
    transform: none;
  }
  nav .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  nav a{
    font-size: 1rem;
  }
}

/* .login-container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: start;
  align-items: center;
  grid-template-areas:
    "Picture Text";
}

.Picture { grid-area: Picture; }

.Text { grid-area: Text; } */

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
  ;
}

    




.headerBar ul li{
  /* display: flex; */
  color: rgb(12, 12, 12);
  display: inline-block;
  margin-right: 10px;
  font-weight: bolder;
  
}

.navbar-list{
  cursor: pointer;
  text-transform: uppercase;
}


/* nav{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 12px;
  backdrop-filter: blur(5px);
} */

/* nav:hover{
  background-color: rgb(81, 79, 79);
} */

.logo{
  height: 40px;
  border-radius: 50%;
  /* padding: 10px; */
  
}

.barber{
  /* height: 400px; */
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  backdrop-filter: blur(5px);

}