    *{
    margin:0;
    padding: 0;
}
.main{
    width: 1366px; /* Set width to match frame width */
    height: 626px; /* Set height to match frame height */
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(img/bg.jpg);
    object-fit: cover; /* Make the image fill the space while maintaining aspect ratio */
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width:200px;
    height: 75px;
    float: left;
}
.logo{
    color: orange;
    font-size: 35px;
    font-family: Arial;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}
.menu{
    width:400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: orange;
}
.search{
    width: 330px;
    margin-left: 270px;
    float: left;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orange;
    margin-top: 13px;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: -3px;
    border-right: none;
}
.btn{
    width: 100px;
    height: 40px;
    background-color: orange;
    border: 1px solid orange;
    margin-top: 10px;
    color: white;
    border-left: none;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-size: 50px;
    margin-top: 9%;
    padding-left: 20px;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background-color: orange;
    border: none;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.cn a{
    text-decoration: none;
    color: white;
}
.cn a:hover{
    color: rgb(255, 255, 255);
}
.content .cn:hover{
    background-color: rgb(30, 248, 10);
}
.content span{
    color: orange;
    font-size: 60px;
}
.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orange;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
}
.btnn{
    width: 240px;
    height: 40px;
    background-color: orange;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.form .link{
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: orange;
    text-align: center;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.iconss{
    text-align: center;
}
.iconss a{
    color: white;
}
.iconss ion-icon{
    color: white;
    font-size: 20px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.4s ease-in-out;
}
.iconss ion-icon:hover{
    color: orange;
}
